# Node.js dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Test-related files
coverage/
jest-cache/
jest.config.js

# Environment files
.env
.env.*.local

# Package lock files (optional, depending on your preference)
# Uncomment if you want to ignore lock files
# package-lock.json
# yarn.lock

# Other
.npmrc

package-lock.json

doc